# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
venv/
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore build and dependency directories
node_modules/
dist/
build/

# Ignore system files (macOS example)
.DS_Store
